<template>
  <div class="v-cart">
    <router-link :to="{ name: 'catalog' }">
      <div class="v-cart__link_btn">Back to Catalog</div>
    </router-link>
    <h2>Cart</h2>
    <p v-if="!cart_data.length">The are no products in cart ...</p>
    <v-cart-item
      v-for="(item, index) in cart_data"
      :key="item.article"
      :cart_item_data="item"
      @deleteFromCartEvent="deleteFromCart(index)"
    />
    <div class="v-cart__price">
      <p>Total:</p>
      <p>{{ getTotalCart }} P</p>
    </div>
  </div>
</template>

<script>
import vCartItem from "./v-cart-item";
import { mapActions } from "vuex";

export default {
  name: "v-cart",
  components: {
    vCartItem,
  },
  props: {
    cart_data: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  data() {
    return {};
  },
  computed: {
    getTotalCart() {
      return this.cart_data
        .reduce(
          (acc, currentItem) =>
            (acc += currentItem.quantity
              ? currentItem.quantity * currentItem.price
              : currentItem.price),
          0
        )
        .toFixed();
    },
  },
  methods: {
    ...mapActions(["DELETE_FROM_CART"]),
    deleteFromCart(idx) {
      this.DELETE_FROM_CART(idx);
    },
  },
};
</script>

<style lang="scss">
.v-cart {
  margin-bottom: 120px;

  &__link_btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: $padding * 2;
    border: solid 1px #e0e0e0;
    border-radius: $radius * 2;
    cursor: pointer;
  }

  &__price {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: $padding * 2;
    display: flex;
    justify-content: center;
    color: #fff;
    background: coral;
    font-size: 24px;
  }

  & p:first-child {
    margin-right: $margin * 2;
    font-weight: 700;
  }
}
</style>
