<template>
  <div class="v-cart-item">
    <img
      class="v-cart-item__image"
      :src="require(`../assets/images/${cart_item_data.image}`)"
      alt="img"
    />
    <div class="v-cart-item__info">
      <p>{{ cart_item_data.name }}</p>
      <p>price - {{ cart_item_data.price.toFixed() }} p.</p>
      <p>article - {{ cart_item_data.article }}</p>
    </div>
    <div class="v-cart-item__quantity">
      <p>Qty:</p>
      <span>
        <span
          class="v-cart-item__options"
          @click="decrementQty(cart_item_data.id)"
          >-</span
        >
        {{ cart_item_data.quantity }}
        <span
          class="v-cart-item__options"
          @click="incrementQty(cart_item_data.id)"
          >+</span
        >
      </span>
    </div>
    <button class="v-cart-item__delete_btn" @click="deleteFromCart()">
      DELETE
    </button>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "v-cart-item",
  props: {
    cart_item_data: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  data() {
    return {};
  },
  computed: {},
  mounted() {
    this.$set(this.cart_item_data, "quantity", 1);
  },
  methods: {
    ...mapActions(["INCREMENT_ITEM_QUANTITY", "DECREMENT_ITEM_QUANTITY"]),
    deleteFromCart() {
      this.$emit("deleteFromCartEvent");
    },
    incrementQty(id) {
      this.INCREMENT_ITEM_QUANTITY(id);
    },
    decrementQty(id) {
      this.cart_item_data.quantity > 1 && this.DECREMENT_ITEM_QUANTITY(id);
    },
  },
};
</script>

<style lang="scss">
.v-cart-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: $padding * 2 $padding * 3;
  margin-bottom: $margin * 2;
  box-shadow: 0 0 8px 0 #e0e0e0;
  user-select: none;

  &__image {
    width: 50px;
  }

  &__options {
    margin: $margin;
    cursor: pointer;
    font-size: 18px;
    padding: $padding / 2;
  }

  p {
    margin-right: 0 !important;
  }
}
</style>
